.container_questions {
  display: flex;
  justify-content: center; // Центрируем содержимое
  align-items: start; // Выравнивание по верхней границе
  padding: 24px;
  color: #FFFFFF; // Белый текст
  gap: 20px; // Промежуток между блоками

  .questions_section {
    width: 70%; // Занимает 70% ширины контейнера

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .question_item {
      background: #2D2D2D;
      border-radius: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      overflow: hidden;

      .question_toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        span {
          font-size: 18px;
        }

        button {
          background: none;
          border: none;
          color: #FFFFFF;
          font-size: 24px;
          cursor: pointer;
        }
      }

      .question_content {
        padding: 10px 20px;
        transition: max-height 0.3s ease;
        background: #333;
      }
    }
  }

  .telegram_section {
    width: 30%; // Занимает 30% ширины контейнера
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 20px 0px 0px 0px;
    background: linear-gradient(101.89deg, rgba(79, 206, 145, 0.2) -17.01%, rgba(133, 50, 255, 0.2) 58.7%);
    border: 1px solid;
    border-image-source: linear-gradient(101.89deg, #4FCE91 -17.01%, #8532FF 58.7%);
    border-image-slice: 1;
    margin-top: 20px;

    p {
      color: rgba(255, 255, 255, 0.85);
      font-size: 16px;
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      background-color: #673ab7;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      
      &:hover {
        background-color: #856ff8;
      }
    }
  }
}
