.question_text{
  text-align: center;
  h1 {
    margin-top: 53px;
    margin-left: 39px;
    margin-right: 28px;
    color: gray;
    font-size: 54px;

    strong {
      color: white;
    }
  }
}

.container_questions {
  display: flex;
  justify-content: center; // Центрируем содержимое
  align-items: start; // Выравнивание по верхней границе
  margin-left: 10%;
  width: 80%;
  color: #FFFFFF; // Белый текст
  gap: 20px; // Промежуток между блоками

  .questions_section {
    width: 70%; // Занимает 70% ширины контейнера

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .question_item {
      background: #2D2D2D;
      border-radius: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      overflow: hidden;

      .question_toggle {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 18px;
        }

        button {
          background: none;
          border: none;
          color: #FFFFFF;
          font-size: 24px;
          cursor: pointer;
        }
      }

      .question_content {
        transition: all 0.3s ease;
        background: #131313;
      }
    }
  }

  .telegram_section {
    width: 30%; // Занимает 30% ширины контейнера
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 20px;
    background: linear-gradient(101.89deg, rgba(79, 206, 145, 0.2) -17.01%, rgba(133, 50, 255, 0.2) 58.7%);
    border: 1px solid transparent;
    border-image-slice: 1;
    overflow: hidden;
    p {
      color: rgba(255, 255, 255, 0.85);
      font-size: 16px;
    }

    button {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      background-color: #673ab7;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #856ff8;
      }
    }
  }
}
.question_item.animate {
  animation: fadeInUp 0.5s ease-out both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
