.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  padding-left: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  position: relative;
  background-color: white;

  border-radius: 40px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-content {
  display: flex;
}
.modal-form {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.modal-info {
  border-radius: 40px;
  background: linear-gradient(101.89deg, #4FCE91 -17.01%, #8532FF 58.7%);
  flex: 1;
  width: 30%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}
.div_zoom{

  width: 333px;
  height: 59px;
  border-radius: 15px;
  border: 1px solid rgba(231, 231, 231, 1);
  background: rgba(231, 231, 231, 0.26);
}
.modal-margin{
  margin-left: 10px;
  color: white;
  margin-top: 10px;
}